/* VERSION PC */

*{
background-color: rgb(94, 31, 31);
margin: 0.5rem;
}
    
body{
font-family: Arial, sans-serif;
font-weight: bold;
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
}
    
h1{
font-size: 4rem;
color: rgb(255, 255, 255);
font-style: oblique;
}

.subtitulo{
color: white;
font-size: 1.5rem;
margin: 0.5rem;
}    

.opciones{
margin-bottom: 30px;
}
    
.opciones button{
font-size: 7.5rem;
min-width: 160px;
margin: 0 10px;
border-radius: 250px;
background-color: rgb(131, 131, 77);
cursor: pointer;
transition:
background-color 0.5s ease;
}
    
.opciones button:hover{
background-color: rgb(53, 53, 31)
}
    
#playerdisplay, #robotdisplay{
font-size: 1rem;
color: rgb(255, 255, 255);
margin: 1rem;
}
    
#resultadodisplay{
font-size: 5rem;
margin: 0.6rem;
color: rgb(253, 253, 253);
border-color: whitesmoke;
border-style: ridge;
}



/* VERSION CELULAR */


@media only screen and (max-width: 600px){

h1{
font-size: 1.4rem;
font-style: oblique;
}

.subtitulo{
color: white;
font-size: 0.7rem;
margin: 1rem;
}

body{
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
}

.opciones button{
font-size: 6rem;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(98, 98, 65);
margin: 0.3rem;
}

#playerdisplay, #robotdisplay{
font-size: 0.7rem;
margin: 0.5rem;
}
#resultadodisplay{
font-size: 2rem;
border-color: whitesmoke;
border-style: ridge;
padding: 0.5rem;
}
}